doctype html
html
  head
    script(type='text/javascript', src='main.js')
    style
      :css
        html, body {
          width  : 100%;
          padding: 0;
          margin : 0;
        }

        #canvas {
          background: black;
          display   : block;
          margin    : 20px auto 0;
        }
    title Tiny Render

  body
    canvas#canvas
    //- div
    //-   | Model: 
    //-   input(type='file', id='model')
    div
      | TGA: 
      input(type='file', id='tga')
    div
      | BMP: 
      input(type='file', id='bmp')
